__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.ruff_cache/
.mypy_cache/
.venv/
venv/

log/
data/count.json
data/preprocessed/
data/augmented/
data/data.txt

作业说明.docx
国标麻将实验报告_张书铭_2300013144.docx

